# Apply nbstripout filter to all Jupyter notebooks
*.ipynb filter=nbstripout
# Apply nbstripout filter to all ZPLN files
*.zpln filter=nbstripout
# Use ipynb diff for Jupyter notebooks
*.ipynb diff=ipynb

# Exclude final notebooks from nbstripout
*final.ipynb -filter
